name: Release

on:
  push:
    branches: [release]

env:
  version: 0.4.4

jobs:
  docker-build:
    runs-on: ubuntu-latest
    name: Publish docker image

    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          push: true
          platforms: linux/amd64,limux/arm64
          labels:
            version: ${{ env.version }}
          tags: cucumber/cucumber-build:latest,cucumber/cucumber-build:${{ env.version }}
      - name: Tag the commit
        run: git tag ${{ env.version }} && git push --tags
